<%- include("user_header") %>
<section class="page-heading wow fadeIn" data-wow-duration="1.5s" style="background-image: url(files/images/01-heading.jpg)">
	<div class="container">
		<div class="page-name">
			<h1>Single Post</h1>
			<span>Lovely layout of heading</span>
		</div>
	</div>
</section>

<section class="blog-single">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="blog-single-item">
					<img src="<%= postData.post_image %>" alt="">
					<div class="blog-single-content">	
						<h3><a href="#"><%= postData.title %></a></h3>
						<span><a href="#"><%= postData.username %></a> / <a href="#"><%= postData.createdDate %></a> / <a href="#"><%= postData.cetegory %></a></span>
						<p><%= postData.description %></p>
						<div class="share-post">
							<span>Share on: <a href="#">facebook</a>, <a href="#">twitter</a>, <a href="#">linkedin</a>, <a href="#">instagram</a></span>
						</div>
					</div>
					<% if(allpostData[cp-1]){ %>
					<div class="prev-btn col-md-6 col-sm-6 col-xs-6">
						<a href="/singlePost/<%= allpostData[cp-1].id %>"><i class="fa fa-angle-left"></i>Previous</a>
					</div>
					<% } %>
					<% if(allpostData[cp+1]){ %>
					<div class="next-btn col-md-6 col-sm-6 col-xs-6">
						<a href="/singlePost/<%= allpostData[cp+1].id %>">Next<i class="fa fa-angle-right"></i></a>
					</div>	
					<% } %>
				</div>
				<div class="blog-comments">
					<h2><%= totalComents %> Comments</h2>
					<ul class="coments-content">
						<%var bool=true; for(var pc of postComments){ if(bool){ %>
						<li class="first-comment-item">
							<img src="<%= pc.comment_image %>" alt="">
							<span class="author-title"><a href="#"><%= pc.name %></a></span>
							<span class="comment-date"><%= pc.createdDate %>/ <a href="#">Reply</a>
							</span>
							<p><%= pc.message %></p>
						</li>
						<% bool=false} else {%>
						<li class="second-comment-item">
							<img src="<%= pc.comment_image %>" alt="">
							<span class="author-title"><a href="#"><%= pc.name %></a></span>
							<span class="comment-date"><%= pc.createdDate %>/ <a href="#">Reply</a>
							</span>
							<p><%= pc.message %></p>
						</li>
						<% bool=true} }%>
					</ul>
				</div>
				<div class="submit-comment col-sm-12">
					<h2>Leave A Comment</h2>
					<form  action="/admin/post/comment/addComment" method="post" enctype="multipart/form-data">
						<div class="form-group">

						
						<input type="hidden" name="postId" value="<%= postId %>">
						<div class=" col-md-4 col-sm-4 col-xs-6">
							<input type="text" class="blog-search-field form-control" name="name" placeholder="Your name..." value="">
						</div>
						<div class="col-md-4 col-sm-4 col-xs-6">
							<input type="email" class="blog-search-field form-control" name="email" placeholder="Your email..." value="">
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<input type="file" class="subject" name="userImage" >
						</div>
						<div class="col-md-12 col-sm-12">
							<textarea id="message" class="input form-control" style="margin-top:10px ;" name="message" placeholder="Comment..." rows="5"></textarea>
						</div>
						<div class="submit-coment col-md-12">
								<button type="submit"class="btn btn-primary" style="margin-top: 10px;">Submit now</button>
						</div>
					</div>
					</form>		
				</div>
			</div>
			<div class="col-md-4">
				<div class="widget-item">
					<h2>Search here</h2>
					<div class="dec-line"></div>
					<form method="get" id="blog-search" class="blog-search">
						<input type="text" class="blog-search-field" name="s" placeholder="Type keyword..." value="">
					</form>
				</div>
				<div class="widget-item">
					<h2>About Us</h2>
					<div class="dec-line">	
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique earum quod iste, natus quaerat facere a rem dolor sit amet, et placeat nemo.</p>
					<div class="social-icons">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="widget-item">
					<h2>Recent Posts</h2>
					<div class="dec-line"></div>
					<ul class="recent-item">
						<li class="recent-post-item">
							<a href="#">
								<img src="./user_assets/files/images/01-recentpost.jpg" alt="">
								<span class="post-title">Jhony Sebastian</span>
							</a>
							<span class="post-info">10 June 2015</span>
						</li>
						<li class="recent-post-item">
							<a href="#">
								<img src="./user_assets/files/images/02-recentpost.jpg" alt="">
								<span class="post-title">Ramshad Padinjarayil</span>
							</a>
							<span class="post-info">9 June 2015</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>	
</section>
<%- include("user_footer") %>